{% extends 'base.html' %}
{% block head %}
<title>Booking</title>
{% endblock %}


{% block content %}

    <div class="container">
        <h2 class="title">BOOK A MEETING</h2>
        <hr class="divider">
    
        <form method="POST" action="#" class="booking-form">
            <input type="text" name="teacher_name" placeholder="TEACHER NAME" class="input-field" required>
            <style>
                input:focus::placeholder {color: transparent;}
            </style>
            <input type="text" name="department" placeholder="DEPARTMENT" class="input-field" required>
            <style>
                input:focus::placeholder {color: transparent;}
            </style>
            <button type="submit" class="btn">SEARCH</button>
        </form>
    
    </div>


{% endblock %}