{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard/style.css') }}">
{% endblock %}



{% block content %}

<h2>Today's Schedule ({{ abbreviated_day_name }})</h2>

<table>
    <thead>
        <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Course ID</th>
        </tr>
    </thead>
    <tbody>
        {% for start, end, course_id in schedule %}
        <tr>
            <td>{{ start }}</td>
            <td>{{ end }}</td>
            <td>{{ course_id }}</td>
        </tr>
        {% else %}
        <tr><td colspan="3">No classes scheduled for today.</td></tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}